body {
    font-family: Arial, sans-serif;
    background-color: rgba(113, 114, 117, 0.336);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .profile {
    text-align: center;
    align-items: center;
  }

  .profile img {
    width: 120px;
    border-radius : 50%;
    margin-bottom: 15px;
  }

  .profile h1 {
    margin: 10px 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  .links a {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
  }

  .links a:hover {
    background-color: #e0e0e0;
  }